.doc-legal-container{
    width: 100%;
    min-height: 100vh;
    background-image: url('../../../doc-assets/Blue-Wave-Background.svg');
    background-size: 100% 100%;
    .doc-legal-card{
        position: relative;
        transition: 250ms ease-out;
        border: none;
        &:hover{
            transition: 250ms ease-in ;
            transform: scale(1.05);
        }
        .doc-card-hover{
            transition: 250ms ease-out;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background: rgba( 255, 255, 255, 0.25 );
            box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
            backdrop-filter: blur( 2px );
            -webkit-backdrop-filter: blur( 2px );
            border-radius: 10px;
            border: 1px solid rgba( 255, 255, 255, 0.18 );
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            border-radius: 5px;
           opacity: 0;
        

           &:hover{
            transition: 250ms ease-in;
            opacity: 1;
           }
        }
    }
}