.policy-container{
    min-height: 88vh;
    overflow-y: hidden;
    width: 100%;
    background-image: linear-gradient(
        to right bottom , #0D47A1 10%, black 90%
      );
    background-size: cover;
    h1{
        font-size: 3.5vw;
        font-family: "Poppins", sans-serif !important;
        font-weight: 700;
        color: #ffff;
       }
    .policies-list{
        color: #ffff;
        text-decoration: none;
        transition: 250ms ease-out;
        font-size: 16px;
     
        font-family: "Poppins", sans-serif !important;

       
    }
    .policy-card{
        height: 60vh;
        overflow-y: scroll;
        background: transparent;
        border: none;

        width: 100%;
        &::-webkit-scrollbar{
            width: .2em;
            
        }
        &::-webkit-scrollbar-track {
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        }
        
        &::-webkit-scrollbar-thumb {
              border-radius: 20px;
            background-color: darkgrey;
            outline: 1px solid slategrey;
          }


        a{
            width: 100%;
            border: 2px solid #ffff;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: .5rem 0;
            border-bottom-right-radius: 100px;
            border-top-right-radius: 100px;
            transition: 250ms ease-out;
            font-weight: 600;
            font-size: 0.9114583333333334vw;
            &:hover{
                transition: 250ms ease-in;
                transform: scale(1.05);
                background-color: #ffff;
                color: #000;

            }
        }
    }
}