.legal-dropdown-card{
    
    h5{
        font-weight: bold !important;
        font-family: "Poppins", sans-serif !important;
        
        

    }
    .legal-dropdown-link{
        text-decoration: none;
        font-size: 12px;
        margin-bottom: 1rem !important; 
        &:hover{
            text-decoration: underline;
        }
    }
}