@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap");

.minutebook-container{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(
        to right bottom , #0D47A1 10%, black 90%
      );
   h1{
    font-size: 3.5vw;
    font-family: "Poppins", sans-serif !important;
    color:  #ffff;
    font-weight: 700;
   }
   a{
    width: 100%;
    border: 2px solid #ffff;
    margin: 1rem 0;
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-family: "Poppins", sans-serif !important;
    font-weight: 600;
    color: #ffff;
    border-bottom-right-radius: 100px;
    border-top-right-radius: 100px;
    transition: 250ms ease-out;
    &:hover{
        transition: 250ms ease-in;
        background-color: #ffff;
        color: #000;
        transform: scale(1.05);
    }
    
   }
   img{
    border-radius: 20px;
   }
}